---
layout: 
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <div class="site-wrap">

    <header class="site-jumbo">
      <div class="wrap center">
          <a href="/" class="h1">Nanne</a>
          <div class="mb1 h4">
          {{ site.description }}
          </div>
          <div class="fa-2x">
          {% if site.show_social_icons %}
            {% include social_links.html %}
          {% endif %}
          </div>
          <div class="jumbo-nav p1">
          {% include navigation.html %}
          </div>
      </div>
    </header>

  </div>

</body>
</html>
