@charset "UTF-8";

body {
  font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
}

html, body {
  height: 100%;
}

img {
  width: auto;
  max-width: 100%;
}

.site-header {
    background-color : #242424;
    color : white;
}

.site-jumbo {
    height : 68vh;
    padding-top : 32vh;
    background-color : #242424;
    color : white;
}

.site-jumbo a { color: #C9C9C9; text-decoration: none; }
.site-header a { color: #eee; text-decoration: none; }
.site-jumbo a:hover, .site-header a:hover { color: #fff; }

.jumbo-nav a {
    margin : 0rem 0rem;
}

.jumbo-nav a:hover {
    color: #fff;
    border-bottom: 2px solid #fff; 
}

a { color: #242424; text-decoration: none; }
a:hover { color: #999; }

.site-content {
    margin-left: auto;
    margin-right : auto;
}

.site-content hr {
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 2rem 0rem;
}
